
body{
  box-sizing: border-box;
}

.form{
  border-radius: 5px;
  
  width: 1000px;
  margin:50px;
}

.finance {
  
  /* Center vertically */
  display: flex;
  align-items: center;
  width:800px;
  
  margin:auto;
  background-color:rgb(236, 236, 244)
}

.items{
  margin-top: 80px;
  text-align: center;
  color:rgb(97, 113, 154)
}
.navbar{
  background-color:rgb(97, 113, 154)
}

.Btn{
 width:200px;
 border-radius: 10px;
}

.nav-item{
  color:white;
}

.form-label{
  color:rgb(97, 113, 154);
  font-size: 30px;
}

